@import '../../styles/main.scss';

.theme-selector {
  position: fixed;
  bottom: 0;
  right: 0;

  &__toggle-button {
    background-color: $secondary-dark;
    border: none;
    border-radius: 50%;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    outline-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 5;
    transition: background-color $transition-time linear;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */

    &:hover {
      opacity: 0.9;
    }

    &::-moz-focus-inner {
      border: 0;
    }

  }

  &__icon {
    height: 1.5em !important;
    width: 1.5em !important;
  }

}

.theme-dark .theme-selector {

  &__toggle-button {
    background-color: $secondary;
  }

}
