@import '../../styles/main.scss';

$image-size: 80px;

.contact-card {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    text-transform: uppercase;
  }

  &__content {
    padding: 20px 0 10px;
  }

  &__bio {
    font-style: italic;
  }

  &__contact {
    margin: 20px 0 0;
  }
}
