// Colors
// https://colorhunt.co/palette/141287
$primary: rgba(104, 164, 255, 0.7);
$secondary: #fff;
$tertiary: #222;
$title-color: #ff105e;
$links: #68a4ff;
$white-base: #fff ;

// Dark Theme
$primary-dark: rgba(9, 25, 33, 0.9);
$secondary-dark: rgba(9, 25, 33, 1);
$tertiary-dark: #fff;

// Fonts
$main-font: 'Poppins', sans-serif;

$transition-time: 0.3s;
