// Colors
// https://colorhunt.co/palette/141287
$primary: rgba(9, 25, 33, 0.9);
$secondary: rgba(9, 25, 33, 1);
$tertiary: #fff;
$links: #fff;
$white-base: #fff ;

// Fonts
$main-font: 'Poppins', sans-serif;
